app = "bd-server-monitor"
primary_region = "ewr"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1

[[http_service.checks]]
interval = "30s"
timeout = "5s"
grace_period = "15s"
method = "GET"
path = "/api/status"

[[vm]]
memory = "256mb"
cpu_kind = "shared"
cpus = 1
